@model IEnumerable<garage3.Data.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>All Parking Spots</h1>

<p>
    <a asp-action="Create">Add a new parking spot</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>

            <th>Vehicle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
   
                <td>
                    @{
                        var activeParking = item.Parkings
                        .FirstOrDefault(p => p.CheckOutTime == null);
                    }

                    @if (activeParking != null) {
                        @activeParking.Vehicle.RegistrationNumber
                    } else {
                        <span>-</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
